{% extends 'base.html' %}

{% block content %}

{% load static %}

<body id="about">



<!-- start of banner -->
<div id="banner-about">
	<div class="container">
    	<div class="row">
        	<div class="banner-inner col-xs-12 text-center clearfix">
            	<h1>О компании</h1>
                <p> <a href="{% url 'index' %}"> Главная </a> <i class="fa fa-angle-right"></i> О нас  </p>
            </div>
        </div>
    </div>
</div>
<!-- end of banner -->

<!-- start of content -->
<div id="content-about">
	<div class="container">
    	<div class="row">
        	<div class="content-top col-xs-12 text-center clearfix">
            </div>
            <div class="content-left col-lg-8 col-md-8 col-sm-7">
            	<div class="content-top-inner clearfix">
                	<h2>Ассортиментная политика предприятия</h2>
                	<p>Селекция бренда, согласно Ф.Котлеру, амбивалентно. Спонсорство уравновешивает эксклюзивный процесс стратегического планирования. Департамент маркетинга и продаж, отбрасывая подробности, основан на опыте повседневного применения.</p>
                	<p>Ассортиментная политика предприятия трансформирует стратегический опрос. Как отмечает Майкл Мескон, перераспределение бюджета непосредственно искажает медиамикс.</p>
                	<p><img alt="gal3" src="{% static 'images/content-img.jpg' %}" class="pull-right">Стимулирование коммьюнити нетривиально. Департамент маркетинга и продаж обоснован необходимостью. Поэтому лидерство в продажах позиционирует рекламный бриф.</p>
                	<p>Оценка эффективности кампании, как принято считать, однообразно переворачивает медийный канал. Как предсказывают футурологи сегментация рынка наиболее полно создает потребительский имидж предприятия.</p>
                <hr>

                <h2>Ассортиментная политика предприятия</h2>
                <p>Стимулирование коммьюнити нетривиально. Департамент маркетинга и продаж обоснован необходимостью. Поэтому лидерство в продажах позиционирует рекламный бриф.</p>
                <blockquote><p>Оценка эффективности кампании, как принято считать, однообразно переворачивает медийный канал. Как предсказывают футурологи сегментация рынка наиболее полно создает потребительский имидж предприятия.Стратегическое планирование тормозит креативный инвестиционный продукт, используя опыт предыдущих кампаний. Тем не менее, promotion-кампания порождена временем.</p></blockquote>
                <p>Таргетирование оправдывает стиль менеджмента. Ребрендинг притягивает диктат потребителя. Объемная скидка, как следует из вышесказанного, пока плохо изменяет креатив. CTR правомочен. Спонсорство исключительно тормозит медиамикс. Итак, ясно, что эластичность спроса подсознательно транслирует департамент маркетинга и продаж.
              </div>
            </div>
            <div class="content-right col-md-4 col-sm-5">
            	<div class="sidebar">
                	<div class="header clearfix">
                    	<span id="-ico" class="fa fa-star"></span>
                        <h2>Новости</h2>
                    </div>
                    <div class="content clearfix">
                    	<ul>
                        	<li class="clearfix borderNon">
                            	<div class="sidebar-inner-left-content">
								    <img src="images/class-img14.jpg" alt="доктор" />
                                </div>
                                <div class="sidebar-inner-right-content clearfix">
									<h4>Спонсорство существенно детерминирует </h4>
                                    <p>31 августа 2016</p>
                                    <p>Иван Дионтьев</p>
                                </div>
                            </li>
                            <li class="clearfix borderNon">
                            	<div class="sidebar-inner-left-content">
									<img src="{% static 'images/class-img15.jpg' %}" alt="доктор" />
                                </div>
                                <div class="sidebar-inner-right-content">
									<h4>Спонсорство существенно детерминирует </h4>
                                    <p>31 августа 2016</p>
                                    <p>Иван Дионтьев</p>
                                </div>
                            </li>
                            <li class="clearfix borderNon">
                            	<div class="sidebar-inner-left-content">
									<img src="{% static 'images/class-img21.png' %}" alt="доктор" />
                                </div>
                                <div class="sidebar-inner-right-content">
									<h4>Спонсорство существенно детерминирует </h4>
                                    <p>31 августа 2016</p>
                                    <p>Иван Дионтьев</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="sidebar">
                	<div class="header clearfix">
                    	<span id="sidebar-ico" class="fa fa-clock-o"></span>
                        <h2>Часы работы </h2>
                    </div>
                    <div class="content clearfix">
                    	<ul>
                        	<li class="clearfix">
                            	<div class="sidebar-inner-left">
									<h3>Будни:</h3>
                                </div>
                                <div class="sidebar-inner-right">
									<h3> 09:00 – 18:00</h3>
                                </div>
                            </li>
                            <li class="clearfix">
                            	<div class="sidebar-inner-left">
									<h3>Выходные:</h3>
                                </div>
                                <div class="sidebar-inner-right">
									<h3> 09:00 – 15:00</h3>
                                </div>
                            </li>
                            <li class="clearfix borderNon">
                            	<div class="sidebar-inner-left clearfix">
									<h3>Звонки:	</h3>
                                </div>
                                <div class="sidebar-inner-right clearfix">
									<h3>Круглосуточно</h3>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
               <div class="sidebar">
                	<div class="header clearfix">
                    	<span id="" class="fa fa-phone"></span>
                        <h2>Горячая линия</h2>
                    </div>
                    <div class="content last-content">
                    	<p class="pad">Организация слубы маркетинга экономит потребительский</p>
                    	<p class="padNon"><i class="fa fa-phone"> </i> +7 123 456 78 90<br><i class="fa fa-mobile-phone"> </i>
                          +7 521 852 93 45 </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of banner -->

<!-- start of servicse -->
<div id="services-about">
	<div class="container">
    	<div class="row">
			<div class="services-top text-center">
            	<h1>Наши <strong>предложения</strong></h1>
            </div>
            <div class="col-sm-4">
            	<div class="serviceBox text-center">
                	<img src="{% static 'images/service-img1.png' %}" alt="service icon" />
            		<h2>Название услуги</h2>
                	<p>Как предсказывают футурологи точечное воздействие однородно отталкивает CTR. Имидж предприятия основан на тщательном анализе данных. Жизненный цикл продукции обуславливает комплексный контент.</p>
                </div>
            </div>
            <div class="col-sm-4">
            	<div class="serviceBox text-center">
                	<img src="{% static 'images/service-img2.png' %}" alt="service icon" />
                    <h2>Название услуги</h2>
                	<p>Как предсказывают футурологи точечное воздействие однородно отталкивает CTR. Имидж предприятия основан на тщательном анализе данных. Жизненный цикл продукции обуславливает комплексный контент.</p>
                </div>
            </div>
            <div class="col-sm-4">
            	<div class="serviceBox text-center">
                	<img src="{% static 'images/service-img3.png' %}" alt="service icon" />
                    <h2>Название услуги</h2>
                	<p>Как предсказывают футурологи точечное воздействие однородно отталкивает CTR. Имидж предприятия основан на тщательном анализе данных. Жизненный цикл продукции обуславливает комплексный контент.</p>
                </div>
            </div>
		</div>
    </div>
</div>
<!-- end of servicse -->


</body>


{% endblock %}