{% extends 'base.html' %}

{% block content %}

{% load static %}


<!-- start of banner -->
<div id="banner-about">
	<div class="container">
    	<div class="row">
        	<div class="banner-inner col-xs-12 text-center clearfix">
            	<h1>Иван Дионтьев</h1>
                <p> <a href="{% url 'index' %}"> Главная </a> <i class="fa fa-angle-right"></i> Иван Дионтьев  </p>
            </div>
        </div>
    </div>
</div>
<!-- end of banner -->

<!-- start of content -->
<div id="doctor-content">
	<div class="container">
    	<div class="row">
            <div class="content-left col-lg-8 col-md-8 col-sm-7">
            	<div class="content-top clearfix">
            		
            		<h2>О компании </h2>
                    <img src="images/class-img10.jpg" class="pull-right" />
                	<p>До недавнего времени считалось, что ретроконверсия национального наследия создает экспериментальный отраслевой стандарт. Лидерство в продажах, согласно Ф.Котлеру, недостижимо. До недавнего времени считалось, что рекламоноситель нетривиален. </p>
                    <div class="doctor-contact">
                        <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-google"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </div>
 				</div>
                <div class="content-center clearfix">
                	<h2>Характеристики</h2>
                    <div class="progress-content">
                    	<h3>Опыт</h3>
                		<div class="progress">
  							<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" 
                        		aria-valuemax="100" style="width: 95%;"> 95%
                        	</div>
                    	</div>
                        <h3>Знания</h3>
                        <div class="progress">
  							<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" 
                        		aria-valuemax="100" style="width: 80%;"> 80%
                        	</div>
                    	</div>
                        <h3>Работа с клиентами</h3>
                        <div class="progress">
  							<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" 
                        		aria-valuemax="100" style="width: 70%;"> 70%
                        	</div>
                    	</div>
            		</div>
                </div>
                <div class="row">
                    <div class="content-bottom clearfix">
                        <h2>Еще сотрудники</h2>
                        <div class="contentBox col-md-4">
                            <div class="contentBox-top clearfix">
                                 <a href="doctor-detail.html">Иван Дионтьев</a>
                                <p>доктор</p>
                            </div>
                            <a href="doctor-detail.html"><img src="images/class-img11.jpg" alt="" /></a>
                            <div class="contentBox-inner clearfix">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="contentBox col-md-4">
                            <div class="contentBox-top clearfix">
                                 <a href="doctor-detail.html">Иван Дионтьев</a>
                                <p>доктор</p>
                            </div>
                            <a href="doctor-detail.html"><img src="images/class-img12.jpg" alt="" /></a>
                            <div class="contentBox-inner clearfix">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="contentBox col-md-4">
                            <div class="contentBox-top clearfix">
                                 <a href="doctor-detail.html">Иван Дионтьев</a>
                                <p>доктор</p>
                            </div>
                            <a href="doctor-detail.html"><img src="images/class-img13.jpg" alt="" /></a>
                            <div class="contentBox-inner clearfix">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-right col-md-4 col-sm-5">
                <div class="sidebar">
                    <div class="header clearfix">
                        <span id="sidebar-ico" class="fa fa-star"></span>
                        <h2>Новости</h2>
                    </div>
                    <div class="content clearfix">
                        <ul>
                            <li class="clearfix borderNon">
                                <div class="sidebar-inner-left-content">
                                    <img src="images/class-img14.jpg" alt="доктор" />                                   
                                </div>
                                <div class="sidebar-inner-right-content clearfix">
                                    <h4>Спонсорство существенно детерминирует </h4>
                                    <p>31 августа 2016</p>
                                    <p>Иван Дионтьев</p>                            
                                </div>
                            </li>
                            <li class="clearfix borderNon">
                                <div class="sidebar-inner-left-content">
                                    <img src="images/class-img15.jpg" alt="доктор" />
                                </div>
                                <div class="sidebar-inner-right-content">
                                    <h4>Спонсорство существенно детерминирует </h4>
                                    <p>31 августа 2016</p>
                                    <p>Иван Дионтьев</p>                             
                                </div>
                            </li>
                            <li class="clearfix borderNon">
                                <div class="sidebar-inner-left-content">
                                    <img src="images/class-img21.png" alt="доктор" />                                   
                                </div>
                                <div class="sidebar-inner-right-content">
                                    <h4>Спонсорство существенно детерминирует </h4>
                                    <p>31 августа 2016</p>
                                    <p>Иван Дионтьев</p>                           
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="sidebar">
                    <div class="header clearfix">
                        <span id="sidebar-ico" class="fa fa-clock-o"></span>
                        <h2>Часы работы </h2>
                    </div>
                    <div class="content clearfix">
                        <ul>
                            <li class="clearfix">
                                <div class="sidebar-inner-left">
                                    <h3>Будни:</h3>                               
                                </div>
                                <div class="sidebar-inner-right">
                                    <h3> 09:00 – 18:00</h3>                            
                                </div>
                            </li>
                            <li class="clearfix">
                                <div class="sidebar-inner-left">
                                    <h3>Выходные:</h3>                             
                                </div>
                                <div class="sidebar-inner-right">
                                    <h3> 09:00 – 15:00</h3>                            
                                </div>
                            </li>
                            <li class="clearfix borderNon">
                                <div class="sidebar-inner-left clearfix">
                                    <h3>Звонки: </h3>                               
                                </div>
                                <div class="sidebar-inner-right clearfix">
                                    <h3>Круглосуточно</h3>                          
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
               <div class="sidebar">
                    <div class="header clearfix">
                        <span id="sidebar-ico" class="fa fa-phone"></span>
                        <h2>Горячая линия</h2>
                    </div>
                    <div class="content last-content">
                        <p class="pad">Организация слубы маркетинга экономит потребительский</p>
                        <p class="padNon"><i class="fa fa-phone"> </i> +7 123 456 78 90<br><i class="fa fa-mobile-phone"> </i>
                          +7 521 852 93 45 </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of banner -->

<!-- start of servicse -->
<div id="services-about">
    <div class="container">
        <div class="row">
            <div class="services-top text-center">
                <h1>Наши <strong>предложения</strong></h1>
            </div>
            <div class="col-sm-4">
                <div class="serviceBox text-center">
                    <img src="images/service-img1.png" alt="service icon" /> 
                    <h2>Название услуги</h2>
                    <p>Как предсказывают футурологи точечное воздействие однородно отталкивает CTR. Имидж предприятия основан на тщательном анализе данных. Жизненный цикл продукции обуславливает комплексный контент.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="serviceBox text-center">
                    <img src="images/service-img2.png" alt="service icon" /> 
                    <h2>Название услуги</h2>
                    <p>Как предсказывают футурологи точечное воздействие однородно отталкивает CTR. Имидж предприятия основан на тщательном анализе данных. Жизненный цикл продукции обуславливает комплексный контент.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="serviceBox text-center">
                    <img src="images/service-img3.png" alt="service icon" /> 
                    <h2>Название услуги</h2>
                    <p>Как предсказывают футурологи точечное воздействие однородно отталкивает CTR. Имидж предприятия основан на тщательном анализе данных. Жизненный цикл продукции обуславливает комплексный контент.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of servicse -->
{% endblock %}