{% extends 'base.html' %}

{% block content %}

{% load static %}


<!-- start of banner -->
<div id="banner-about">
	<div class="container">
    	<div class="row">
        	<div class="banner-inner col-xs-12 text-center clearfix">
            	<h1>Врачи клиники</h1>
                <p> <a href="{% url 'index' %}"> главная </a> <i class="fa fa-angle-right"></i> врачи  </p>
            </div>
        </div>
    </div>
</div>
<!-- end of banner -->

<!-- start of servicse -->

<div id="services-doctor">
	<div class="container">
    	<div class="row">
			<div class="services-top text-center">
            	<h1>Наши - <strong>персонал</strong></h1>
            </div>

            <div class="contentBox col-md-3">
                 {% for Doctor in object_list %}
            	<div class="contentBox-top clearfix">
                    <a href="{% url 'doctor_detail' %}">{{Doctor.first_name}} {{Doctor.last_name}} </a>
                    <p>доктор</p>
                </div>
                <a href="{% url 'doctor_detail'%}"><img src="{{ Doctor.photo.url }}" alt="" /></a>

                <div class="contentBox-inner clearfix">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-google"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>

                </div>
                {% endfor %}
		</div>
    </div>

</div>
<!-- end of servicse -->
               
<!-- start of servicse -->
<div id="services-about">
    <div class="container">
        <div class="row">
            <div class="services-top text-center">
                <h1>Наши <strong>предложения</strong></h1>
            </div>
            <div class="col-sm-4">
                <div class="serviceBox text-center">
                    <img src="images/service-img1.png" alt="service icon" /> 
                    <h2>Название услуги</h2>
                    <p>Как предсказывают футурологи точечное воздействие однородно отталкивает CTR. Имидж предприятия основан на тщательном анализе данных. Жизненный цикл продукции обуславливает комплексный контент.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="serviceBox text-center">
                    <img src="images/service-img2.png" alt="service icon" /> 
                    <h2>Название услуги</h2>
                    <p>Как предсказывают футурологи точечное воздействие однородно отталкивает CTR. Имидж предприятия основан на тщательном анализе данных. Жизненный цикл продукции обуславливает комплексный контент.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="serviceBox text-center">
                    <img src="images/service-img3.png" alt="service icon" /> 
                    <h2>Название услуги</h2>
                    <p>Как предсказывают футурологи точечное воздействие однородно отталкивает CTR. Имидж предприятия основан на тщательном анализе данных. Жизненный цикл продукции обуславливает комплексный контент.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of servicse -->

{% endblock %}
