


{% extends 'base.html' %}


{% block content %}

{% load static %}

<!-- start of banner -->
<div id="banner" class="clearfix">
	<div class="container">
    	<div class="row">
        	<div class="banner-inner jw-animate-gen clearfix"  data-gen-offset="100%" data-gen="fadeInDown">
                <div class="banner-inner-right">
                	<h2> медицинские услуги </h2>
                    <h1> ШАБЛОН HTML5 </h1>
            		<a href="#form-site" class="btn btn-banner">ЗАПИСАТЬСЯ НА ПРИЕМ <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- end of banner -->

<!-- start of services -->
<div id="services" class="clearfix">
	<div class="container">
    	<div class="row">
        	<div class="services-top text-center jw-animate-gen clearfix noOpacity" data-gen-offset="100%" data-gen="fadeInDown">
            	<h1> Медицинский центр - <span class="bold">Medics </span> </h1>
            </div>
            <div class="services-inner clearfix">
            	<div class="service-box jw-animate-gen noOpacity col-lg-4 col-md-4 col-sm-4 text-center" data-gen-offset="90%" data-gen="fadeIn">
                	<img src="{% static 'images/doc-service1.png' %}" alt="" />
                    <a href="service-detail.html" class="span3"> УКАЗАНИЕ УСЛУГ </a>
                    <p> Точечное воздействие, конечно, транслирует<br> выставочный стенд, повышая конкуренцию. </p>
                </div>
                <div class="service-box jw-animate-gen noOpacity col-lg-4 col-md-4 col-sm-4 text-center" data-gen-offset="80%" data-gen="fadeIn">
                	<img src="images/doc-service2.png" alt="" />
                    <a href="service-detail.html" class="span4"> КОНСУЛЬТАЦИИ </a>
                    <p> Точечное воздействие, конечно, транслирует<br> выставочный стенд, повышая конкуренцию. </p>
                </div>
                <div class="service-box jw-animate-gen noOpacity col-lg-4 col-md-4 col-sm-4 text-center" data-gen-offset="80%" data-gen="fadeIn">
                	<img src="images/doc-service3.png" alt="" />
                    <a href="service-detail.html" class="span5"> ЛУЧШИЕ ВРАЧИ </a>
                    <p> Точечное воздействие, конечно, транслирует<br> выставочный стенд, повышая конкуренцию. </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of services -->

<!-- start of form section -->
<div id="form-site" class="clearfix">
	<div class="container">
    	<div class="row">
        	<div class="form-content  col-lg-7 col-md-6 col-sm-6">
            	<h1> Записаться на прием - <span class="bold">сейчас! </span> </h1>
                <ul>
                	<li class="digit1 jw-animate-gen noOpacity" data-gen-offset="90%" data-gen="fadeInDown"> В рамках концепции Акоффа и Стэка,<br> сервисная стратегия вырождена.  </li>
                    <li class="digit2 jw-animate-gen noOpacity" data-gen-offset="88%" data-gen="fadeInDown"> Интересно отметить, что креатив<br> одновременно специфицирует опрос. </li>
                    <li class="digit3 jw-animate-gen noOpacity" data-gen-offset="86%" data-gen="fadeInDown"> Управление брендом<br> отталкивает ролевой медиавес.  </li>
                    <li class="digit4 jw-animate-gen noOpacity" data-gen-offset="85%" data-gen="fadeInDown"> Стимулирование сбыта искажает рыночный<br> бюджет на размещение. </li>
                </ul>
            </div>
            <div class="form-inner col-lg-4 col-md-5 col-sm-5">
            	<img src="images/formbg.png" alt="" />
            	<form id="contact" class="registerForm" method="post">
                    <input type="text" name="name" placeholder="Ваше имя*" required>
                    <input type="email"   name="email" placeholder="Email*" required >
                    <input type="text" name="phone" placeholder="Телефон*" required >
                    <textarea class="text-area" name="message*"  cols="12" placeholder="Сообщение" required ></textarea>
                    <input type="submit" name="submit" class="submit submit-button" value="ГОТОВО">
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end of form section -->

<!-- start of doctors section -->
<div id="doctor-site" class="clearfix">
	<div class="container">
    	<div class="row">
        	<div class="doctor-inner clearfix">
                <div class="doctor-top text-center jw-animate-gen noOpacity" data-gen-offset="100%" data-gen="fadeInDown">
                    <h1> Наши <span class="bold"> доктора </span> </h1>
                </div>
            	<div class="doctor-box col-lg-3 col-md-3 col-sm-6 text-center jw-animate-gen noOpacity" data-gen-offset="90%" data-gen="fadeIn">
                	<a href="doctor-detail.html"><img src="images/class-img22.png" alt="" /></a>
                    <a href="doctor-detail.html"> Иван Дионтьев </a>
                    <p> врач </p>
                    <a href="#"> <i class="fa fa-facebook" ></i> </a>
                    <a href="#"> <i class="fa fa-twitter" ></i> </a>
                    <a href="#"> <i class="fa fa-google" ></i> </a>
                </div>
                <div class="doctor-box col-lg-3 col-md-3 col-sm-6 text-center jw-animate-gen noOpacity" data-gen-offset="80%" data-gen="fadeIn">
                	<a href="doctor-detail.html"><img src="images/class-img23.png" alt="" /></a>
                    <a href="doctor-detail.html"> Иван Дионтьев </a>
                    <p> врач </p>
                    <a href="#"> <i class="fa fa-facebook" ></i> </a>
                    <a href="#"> <i class="fa fa-twitter" ></i> </a>
                    <a href="#"> <i class="fa fa-google" ></i> </a>
                </div>
                <div class="doctor-box col-lg-3 col-md-3 col-sm-6 text-center jw-animate-gen noOpacity" data-gen-offset="75%" data-gen="fadeIn">
                	<a href="doctor-detail.html"><img src="images/class-img24.png" alt="" /></a>
                    <a href="doctor-detail.html"> Иван Дионтьев </a>
                    <p> врач </p>
                    <a href="#"> <i class="fa fa-facebook" ></i> </a>
                    <a href="#"> <i class="fa fa-twitter" ></i> </a>
                    <a href="#"> <i class="fa fa-google" ></i> </a>
                </div>
                <div class="doctor-box col-lg-3 col-md-3 col-sm-6 text-center jw-animate-gen noOpacity" data-gen-offset="70%" data-gen="fadeIn">
                	<a href="doctor-detail.html"><img src="images/class-img25.png" alt="" /></a>
                    <a href="doctor-detail.html"> Иван Дионтьев </a>
                    <p> врач </p>
                    <a href="#"> <i class="fa fa-facebook" ></i> </a>
                    <a href="#"> <i class="fa fa-twitter" ></i> </a>
                    <a href="#"> <i class="fa fa-google" ></i> </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of doctors section -->

<!-- start of video section -->
<div id="video-site" class="clearfix">
	<div class="container">
    	<div class="row">
        	<div class="video-content col-lg-5 col-md-6 col-sm-6 jw-animate-gen noOpacity" data-gen-offset="70%" data-gen="fadeInLeft">
            	<h1> Видео блок <br> <span class="bold"> нашей компании </span>  </h1>
                <p> Анализ рыночных цен охватывает формирование имиджа,<br> не считаясь с затратами. Пресс-клиппинг, как следует из<br> вышесказанного, традиционно консолидирует формирование имиджа. Эластичность спроса нейтрализует конвергентный продуктовый ассортимент.</p>
                <a href="#form-site" class="btn btn-video">ЗАКАЗАТЬ! </a>
            </div>
            <div class="video col-lg-6 col-md-6 col-sm-6">
            	 <iframe width="500" height="315" src="https://www.youtube.com/embed/rdB378Jxhnc" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<!-- start of membership section -->

<!-- start of membership section -->
<div id="membership-package" class="clearfix">
	<div class="container">
    	<div class="row">
        	<div class="membership-top text-center jw-animate-gen noOpacity" data-gen-offset="100%" data-gen="fadeInDown">
            	<h1> Наши <span class="bold"> цены и товары </span> </h1>
            </div>
            <div class="membership-box col-lg-4 col-md-4 col-sm-4 text-center jw-animate-gen noOpacity" data-gen-offset="90%" data-gen="fadeIn">
            	<div class="membership-box-inner">
                    <h2> 5 000 р. </h2>
                    <h3> СТАНДАРТ </h3>
                    <p> Обслуживание клиентов </p>
                    <p> Техническая поддержка </p>
                    <p> Помощь партнерам </p>
                    <p> Проф. персонал </p>
                    <p> Другие улсуги </p>
                    <a href="#form-site" class="btn form-btn"> ЗАКАЗАТЬ </a>
                </div>
            </div>
            <div class="membership-box col-lg-4 col-md-4 col-sm-4 text-center jw-animate-gen noOpacity" data-gen-offset="80%" data-gen="fadeIn">
            	<div class="membership-box-inner">
                    <h2 class="greenbg"> 10 000 р. </h2>
                    <h3> <span class="green"> БИЗНЕС </span>  </h3>
                    <p> Обслуживание клиентов </p>
                    <p> Техническая поддержка </p>
                    <p> Помощь партнерам </p>
                    <p> Проф. персонал </p>
                    <p> Другие улсуги </p>
                    <a href="#form-site" class="btn form-btn"> ЗАКАЗАТЬ </a>
                </div>
            </div>
            <div class="membership-box col-lg-4 col-md-4 col-sm-4 text-center jw-animate-gen noOpacity" data-gen-offset="70%" data-gen="fadeIn">
            	<div class="membership-box-inner">
                    <h2 class="bluebg">  15 000 р. </h2>
                    <h3> <span class="blue"> ПРЕМИУМ </span> </h3>
                    <p> Обслуживание клиентов </p>
                    <p> Техническая поддержка </p>
                    <p> Помощь партнерам </p>
                    <p> Проф. персонал </p>
                    <p> Другие улсуги </p>
                    <a href="#form-site" class="btn form-btn"> ЗАКАЗАТЬ </a>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- end of membership section -->

<!-- start of testimonial section -->
<div id="testimonial-site" class="clearfix">
	<div class="container">
    	<div class="row">
        	<div class="testimonial-top text-center jw-animate-gen noOpacity" data-gen-offset="100%" data-gen="fadeInDown">
            	<h1> Отзывы <span class="bold"> клиентов </span> </h1>
            </div>
            <div class="testimonial-box col-lg-6 col-md-6 jw-animate-gen noOpacity" data-gen-offset="80%" data-gen="fadeIn">
            	<div class="testimonial-box-content text-center">
            	    <p>  "Анализ рыночных цен охватывает формирование имиджа,<br> не считаясь с затратами. Пресс-клиппинг, как следует<br> из вышесказанного, традиционно консолидирует формирование<br> имиджа. Эластичность спроса нейтрализует конвергентный<br> продуктовый ассортимент."  </p>
                </div>
                <div class="testimonial-box-author">
                	<img src="images/testimonials_pics_03.png" alt="" />
                    <div class="testimonial-box-name">
                    	<h2> Иван Дионтьев </h2>
                        <h2> клиент </h2>
                    </div>
                </div>
            </div>
            <div class="testimonial-box col-lg-6 col-md-6 jw-animate-gen noOpacity" data-gen-offset="70%" data-gen="fadeIn">
            	<div class="testimonial-box-content text-center">
            	    <p>  "Анализ рыночных цен охватывает формирование имиджа,<br> не считаясь с затратами. Пресс-клиппинг, как следует<br> из вышесказанного, традиционно консолидирует формирование<br> имиджа. Эластичность спроса нейтрализует конвергентный<br> продуктовый ассортимент."  </p>
                </div>
                 <div class="testimonial-box-author">
                	<img src="images/testimonials_pics_05.png" alt="" />
                    <div class="testimonial-box-name">
                    	<h2> Иван Дионтьев </h2>
                        <h2> клиент </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}