{% extends 'base.html' %}

{% block content %}

{% load static %}
<!-- start of banner -->
<div id="banner-about" class="clearfix">
	<div class="container">
    	<div class="row">
        	<div class="banner-inner col-xs-12 text-center clearfix">
            	<h1>Наши цены</h1>
                <p> <a href="{% url 'index' %}"> Главная </a> <i class="fa fa-angle-right"></i> Цены  </p>
            </div>
        </div>
    </div>
</div>
<!-- end of banner -->

<!-- start of content -->
<div id="price-content">
	<div class="container">
    	<div class="row">
        	<div class="subscribe-head text-center clearfix">
            	<h1>Заказать - <strong>консультацию</strong></h1>
            </div>
            <div class="col-md-6 col-sm-12 clearfix">
                <div class="subscribe-box col-md-12 col-sm-12">
                    <div class="subscribe-box-left col-md-5 col-sm-6">
                        <div class="logo clearfix">
                            <span id="med-id" class="fa fa-medkit"></span>
                            <h1> Консультация </h1>
                        </div>
                        <h3>Женщины</h3>
                        <p>Медиамикс основан на анализе телесмотрения.</p>
                        <h2> Бесплатно!</h2>
                      <h4> Заказать <i class="fa fa-arrow-right"></i> </h4>
                    </div>
                    <div class="subscribe-box-right col-md-6 col-sm-6">
                        <img src="images/img-women.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 clearfix">
                <div class="subscribe-box subscribe-box2 col-md-12 col-sm-12">
                    <div class="subscribe-box-left col-md-5 col-sm-6">
                        <div class="logo clearfix">
                            <span id="med-id" class="fa fa-medkit"></span> 
                            <h1> Консультация </h1>
                        </div>
                        <h3>Мужчины</h3>
                        <p>Медиамикс основан на анализе телесмотрения.</p>
                        <h2> Бесплатно!</h2>
                      <h4> Заказать <i class="fa fa-arrow-right"></i> </h4>
                    </div>
                    <div class="subscribe-box-right col-md-6 col-sm-6">
                        <img src="images/img-men.png" alt="" />
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>
<!-- end of content -->

<!-- start of price packages -->
<div id="membership-package" class="clearfix">
    <div class="container">
        <div class="row"> 
            <div class="membership-top text-center jw-animate-gen noOpacity" data-gen-offset="100%" data-gen="fadeInDown">
                <h1> Наши <span class="bold"> цены и товары </span> </h1>
            </div>
            <div class="membership-box col-lg-4 col-md-4 col-sm-4 text-center jw-animate-gen noOpacity" data-gen-offset="90%" data-gen="fadeIn">
                <div class="membership-box-inner">
                    <h2> 5 000 р. </h2>
                    <h3> СТАНДАРТ </h3>
                    <p> Обслуживание клиентов </p>
                    <p> Техническая поддержка </p>
                    <p> Помощь партнерам </p>
                    <p> Проф. персонал </p>
                    <p> Другие улсуги </p>
                    <a href="#form-site" class="btn form-btn"> ЗАКАЗАТЬ </a>
                </div>
            </div>
            <div class="membership-box col-lg-4 col-md-4 col-sm-4 text-center jw-animate-gen noOpacity" data-gen-offset="80%" data-gen="fadeIn">
                <div class="membership-box-inner">
                    <h2 class="greenbg"> 10 000 р. </h2>
                    <h3> <span class="green"> БИЗНЕС </span>  </h3>
                    <p> Обслуживание клиентов </p>
                    <p> Техническая поддержка </p>
                    <p> Помощь партнерам </p>
                    <p> Проф. персонал </p>
                    <p> Другие улсуги </p>
                    <a href="#form-site" class="btn form-btn"> ЗАКАЗАТЬ </a>
                </div>
            </div>
            <div class="membership-box col-lg-4 col-md-4 col-sm-4 text-center jw-animate-gen noOpacity" data-gen-offset="70%" data-gen="fadeIn">
                <div class="membership-box-inner">
                    <h2 class="bluebg">  15 000 р. </h2>
                    <h3> <span class="blue"> ПРЕМИУМ </span> </h3>
                    <p> Обслуживание клиентов </p>
                    <p> Техническая поддержка </p>
                    <p> Помощь партнерам </p>
                    <p> Проф. персонал </p>
                    <p> Другие улсуги </p>
                    <a href="#form-site" class="btn form-btn"> ЗАКАЗАТЬ </a>
                </div>
            </div> 
            
        </div>
    </div>
</div>
<!-- end of price packages -->
               
<!-- start of servicse -->
<div id="services-about">
    <div class="container">
        <div class="row">
            <div class="services-top text-center">
                <h1>Наши <strong>предложения</strong></h1>
            </div>
            <div class="col-sm-4">
                <div class="serviceBox text-center">
                    <img src="images/service-img1.png" alt="service icon" /> 
                    <h2>Название услуги</h2>
                    <p>Как предсказывают футурологи точечное воздействие однородно отталкивает CTR. Имидж предприятия основан на тщательном анализе данных. Жизненный цикл продукции обуславливает комплексный контент.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="serviceBox text-center">
                    <img src="images/service-img2.png" alt="service icon" /> 
                    <h2>Название услуги</h2>
                    <p>Как предсказывают футурологи точечное воздействие однородно отталкивает CTR. Имидж предприятия основан на тщательном анализе данных. Жизненный цикл продукции обуславливает комплексный контент.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="serviceBox text-center">
                    <img src="images/service-img3.png" alt="service icon" /> 
                    <h2>Название услуги</h2>
                    <p>Как предсказывают футурологи точечное воздействие однородно отталкивает CTR. Имидж предприятия основан на тщательном анализе данных. Жизненный цикл продукции обуславливает комплексный контент.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of servicse -->
{% endblock %}