
{% extends 'base.html' %}


{% block content %}

{% load static %}


<!-- start of banner -->
<div id="banner-class">
	<div class="container">
    	<div class="row">
        	<div class="banner-inner col-xs-12 text-center clearfix">
            	<h1>Наши новости</h1>
                <p> <a href="{% url 'index' %}"> Главная </a> <i class="fa fa-angle-right"></i> Услуги  </p>
            </div>
        </div>
    </div>
</div>
<!-- end of banner -->

<!-- start of content -->
<div id="content-class">
	<div class="container">
    	<div class="row">
        	<div class="content-inner col-xs-12">
                <div class="content-top text-center clearfix">
                    <h1>Название категории - <span class="bold">услуг </span> </h1>
                </div>
                <div class="col-md-4">
                    <div class="contentBox">
                        <h2>Название услуги</h2>
                        <img src="images/class-img.jpg" alt="" />
                        <div class="contentBox-inner clearfix">
                            <a class="btn-book" href="service-detail.html">Подробнее</a>
                            <p>Категория: название</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="contentBox">
                        <h2>Название услуги</h2>
                        <img src="images/class-img1.jpg" alt="" />
                        <div class="contentBox-inner clearfix">
                            <a class="btn-book" href="service-detail.html">Подробнее</a>
                            <p>Категория: название</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="contentBox">
                        <h2>Название услуги</h2>
                        <img src="images/class-img2.jpg" alt="" />
                        <div class="contentBox-inner clearfix">
                            <a class="btn-book" href="service-detail.html">Подробнее</a>
                            <p>Категория: название</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-inner col-xs-12">
                <div class="content-top text-center clearfix">
                    <h1>Название категории - <span class="bold">услуг </span> </h1>
                </div>
                <div class="col-md-4">
                    <div class="contentBox">
                        <h2>Название услуги</h2>
                        <img src="images/class-img3.jpg" alt="" />
                        <div class="contentBox-inner clearfix">
                            <a class="btn-book" href="service-detail.html">Подробнее</a>
                            <p>Категория: название</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="contentBox">
                        <h2>Название услуги</h2>
                        <img src="images/class-img4.jpg" alt="" />
                        <div class="contentBox-inner clearfix">
                            <a class="btn-book" href="service-detail.html">Подробнее</a>
                            <p>Категория: название</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="contentBox">
                        <h2>Название услуги</h2>
                        <img src="images/class-img5.jpg" alt="" />
                        <div class="contentBox-inner clearfix">
                            <a class="btn-book" href="service-detail.html">Подробнее</a>
                            <p>Категория: название</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-inner col-xs-12">
                <div class="content-top text-center clearfix">
                    <h1>Название категории - <span class="bold">услуг </span> </h1>
                </div>
                <div class="col-md-4">
                    <div class="contentBox">
                        <h2>Название услуги</h2>
                        <img src="images/class-img6.jpg" alt="" />
                        <div class="contentBox-inner clearfix">
                            <a class="btn-book" href="service-detail.html">Подробнее</a>
                            <p>Категория: название</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="contentBox">
                        <h2>Название услуги</h2>
                        <img src="images/class-img7.jpg" alt="" />
                        <div class="contentBox-inner clearfix">
                            <a class="btn-book" href="service-detail.html">Подробнее</a>
                            <p>Категория: название</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="contentBox">
                        <h2>Название услуги</h2>
                        <img src="images/class-img9.jpg" alt="" />
                        <div class="contentBox-inner clearfix">
                            <a class="btn-book" href="service-detail.html">Подробнее</a>
                            <p>Категория: название</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
