<!doctype html>
<html>

{% load static %}

<head>
<meta charset="utf-8">
<title> Medics - мидицинский Астиопатия </title>
<meta name="viewport" content="initial-scale=1.0, width=device-width" />

<link href=  "{%  static 'css/bootstrap.css' %}"  rel="stylesheet" type="text/css">

<link href="{%  static 'css/style.css' %}" rel="stylesheet" type="text/css">
<link href="{%  static 'css/font-awesome.css' %}" rel="stylesheet" type="text/css">
<link href="{%  static 'ss/animate-custom.css' %}" rel="stylesheet" type="text/css">


</head>

<body id="home">

<!-- start of header -->
<div id="header" class="affix clearfix" data-offset-top="60" data-offset-bottom="200">
	<div class="container">
    	<div class="row">
        	<div class="logo col-md-3 clearfix">
            	<a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" /></a>
            </div>
             <nav class="navbar navbar-default menu col-md-9">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>
                 {% if not request.user.is_authenticated %}
                            <div class="login" style="z-index:5;">
                                <a href="{% url 'sign_in' %}">Войти</a>
                            </div>
                            <div class="register" style="z-index:5;">
                                <a href="{% url 'register' %}">Регистрация</a>
                            </div>
                            {% else %}
                            <div class="login" style="z-index:5;">
                                <a href="{% url 'logout' %}">Выйти</a>
                            </div>



                            {% endif %}


                <div class="collapse navbar-collapse nav-collapse">
                	<ul class="nav navbar-nav menu_desktop">
                        <li class="active"><a href="{% url 'index'  %}"> Главная </a></li>
                        <li><a href="{% url 'about'  %}"> О нас </a></li>


                        <li><a href="{% url 'graph'  %}"> График </a></li>
                        <li class="group-btn"><a href="{% url 'doctor'  %}"> Доктора </a>
                        <ul class="child">
                            <li><a href="{% url 'doctor'  %}">Доктора</a></li>
                            <li><a href="{% url 'doctor_detail'  %}">Описание доктора</a></li>
                        </ul>
                        </li>

                        <li><a href="{% url 'contact'  %}"> Контакты </a></li>


                    </ul>


               </div>
           </nav>
        </div>
    </div>
</div>
<!-- end of header -->
{% block content %}

    {% endblock %}
<!-- start of footerTop section -->
<div id="footerTop" class="clearfix">
	<div class="container">
    	<div class="row">
        	<div class="footerBox col-lg-3 col-md-3 col-sm-6 clearfix">
            	<h1> Информация о компании </h1>
                <p>Селекция бренда, согласно Ф.Котлеру, амбивалентно. Спонсорство уравновешивает эксклюзивный процесс стратегического планирования. </p>
                <p>Селекция бренда, согласно Ф.Котлеру, амбивалентно. Спонсорство уравновешивает эксклюзивный процесс стратегического планирования. </p>
            </div>
            <div class="footerBox col-lg-3 col-md-3 col-sm-6 clearfix">
            	<h1> Разделы </h1>
                <ul class="link">
                	<li><i class="fa fa-angle-right"></i><a href="{% url 'about'  %}"> о нас </a></li>

                    <li><i class="fa fa-angle-right"></i><a href="{% url 'graph'  %}"> график </a></li>
                    <li><i class="fa fa-angle-right"></i><a href="{% url 'doctor'  %}"> врачи </a></li>

                    <li><i class="fa fa-angle-right"></i><a href="{% url 'contact'  %}"> связь </a></li>
                </ul>
            </div>
            <div class="footerBox col-lg-3 col-md-3 col-sm-6 clearfix">
            	<h1> Последние сообщения </h1>
                <ul class="tweet">
                	<li>Департамент маркетинга и продаж,<br> отбрасывая подробности,<br> основан на опыте</li>
                    <li>Департамент маркетинга и продаж,<br> отбрасывая подробности,<br> основан на опыте</li>
                    <li>Департамент маркетинга и продаж,<br> отбрасывая подробности,<br> основан на опыте</li>
                </ul>
            </div>
            <div class="footerBox col-lg-3 col-md-3 col-sm-6 clearfix">
            	<h2> Контакты </h2>
                <ul class="contact">
                	<li><h3>Адрес</h3>Россия, Москва, ул. Пушкина 23</li>
                    <li><h3>Телефон</h3>+7 123 456 78 90</li>
                    <li class="borderNon"><h3>Email</h3>mail@mail.com</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- end of footerTop section -->

<!-- start of footer section -->
<div id="footer" class="clearfix">
	<div class="container">
    	<div class="row">
        	<div class="footer-inner text-center">
            	<p>
                	<a href="#" target="_blank"><img src="{% static 'images/fb.png' %}" alt="facebook" /></a>
                    <a href="#" target="_blank"><img src="{% static 'images/twt.png' %}" alt="twitter" /></a>
                    <a href="#" target="_blank"><img src="{% static 'images/google.png' %}" alt="google" /></a>
                    <a href="#" target="_blank"><img src="{% static 'images/lnkdin.png' %}" alt="linkedin" /></a>
                    <a href="#" target="_blank"><img class="hideImg" src="{% static 'images/dribble.png' %} " alt="dribble" /></a>
                    <a href="#" target="_blank"><img class="hideImg" src="{% static 'images/social-icon.png' %}" alt="instagram" /></a>
                    <a href="#" target="_blank"><img class="hideImg" src="{% static 'images/social-icon2.png' %}" alt="youtube" /></a>
                </p>
                <p> © 2023 </p>
            </div>
        </div>
    </div>
</div>
<!-- end of footer section -->

<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-migrate.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}" ></script>
<script type="text/javascript" src="{% static 'js/respond.js' %}" ></script>
<script type="text/javascript" src="{% static 'js/waypoints.js' %}" ></script>
<script type="text/javascript" src="{% static 'js/smoothScroll.js' %}" ></script>
<script type="text/javascript" src="{% static 'js/modernizr.js' %}" ></script>

<script type="text/javascript" src="{% static 'js/script.js' %}" ></script>

</body>
</html>
